bokeh
coverage
cython
future
h5py >=2.10.0,<3
holoviews
ipykernel
ipython
ipyparallel
jupyter
matplotlib
mypy
nose
numpy
numpydoc
peakutils
pims
psutil
pynwb
pyqtgraph
scikit-image
scikit-learn
scipy
tifffile
tk
tqdm
yapf
tensorflow==2.4.1
tensorflow-addons==0.12.1
opencv-python
spyder

