bokeh
coverage
cython
future
h5py
holoviews
imageio_ffmpeg
ipykernel
ipython
ipyparallel
Jinja2
jupyter
keras
matplotlib
mypy
numpy
numpydoc
opencv-python
peakutils
pims
psutil
pynwb
pyqtgraph
scikit-image
scikit-learn
scipy
tensorflow
tensorflow-addons
tifffile
tk
tqdm
yapf
