bokeh
coverage
cython
future
h5py==2.10.0
holoviews
imageio_ffmpeg
ipykernel
ipython
ipyparallel
Jinja2==3.0.1
jupyter
keras
matplotlib
mypy
numpy
numpydoc
opencv-python
peakutils
pims
psutil
pynwb
pyqtgraph
scikit-image
scikit-learn
scipy
tensorflow==2.4.1
tensorflow-addons==0.12.0
tifffile
tk
tqdm
yapf
